:root {
  --main-blue: #5091F3;
  --main-white: #F9FDFF;
}

nav, #nav-title, #nav-links {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-evenly;
}

#nav-title, #nav-links {
  justify-content: center;
}


#nav-title-image {
  height: 2rem;
  width: 2rem;
}


